<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Suap Notas</name>
    <description>Calcule suas notas do Suap!</description>
    <author email="zaqueunilton1@gmail.com">Zaqueu</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    


    <platform name="android">
    <preference name="AndroidWindowSplashScreenBackground" value="#413d65" /> <!-- Cor de fundo -->
    <preference name="AndroidWindowSplashScreenIcon" value="resources/android/res/1024.png" /> <!-- Imagem de splash -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/res/mipmap-xxxhdpi/icon_adaptive_fore.png" /> 
    <preference name="SplashScreenDelay" value="2000" /> <!-- Duração da splash 
    screen em milissegundos -->
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" /> <!-- Tempo da transição -->

    <icon src="resources/android/res/mipmap-mdpi/icon.png" density="mdpi" />
    <icon src="resources/android/res/mipmap-hdpi/icon.png" density="hdpi" />
    <icon src="resources/android/res/mipmap-xhdpi/icon.png" density="xhdpi" />
    <icon src="resources/android/res/mipmap-xxhdpi/icon.png" density="xxhdpi" />
    <icon src="resources/android/res/mipmap-xxxhdpi/icon.png" density="xxxhdpi" />

</platform>



</widget>
