<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Suap Notas</name>
    <description>Calcule suas notas do Suap!</description>
    <author email="zaqueunilton1@gmail.com">Zaqueu</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AndroidWindowSplashScreenBackground" value="#413d65" /> <!-- Cor de fundo -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/mipmap-mdpi/ic_launcher_adaptive_fore.png" /> <!-- Ícone animado -->
    <preference name="AndroidWindowSplashScreenIcon" value="resources/android/1024.png" /> <!-- Imagem de splash -->
    <preference name="AndroidWindowSplashScreenShowDuration" value="3000" /> <!-- Duração da splash screen em milissegundos -->
    <preference name="AndroidWindowSplashScreenDelay" value="2000" /> <!-- Atraso antes de mostrar a tela inicial -->
    <preference name="FadeSplashScreen" value="true" /> <!-- Transição suave -->
    <preference name="FadeSplashScreenDuration" value="500" /> <!-- Duração da transição suave -->

    <platform name="android">
        <icon src="resources/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="resources/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="resources/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="resources/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="resources/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
        <icon src="resources/android/mipmap-anydpi-v26/ic_launcher.xml" />
    </platform>
</widget>
