<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Suap Notas</name>
    <description>Calcule suas notas do Suap!</description>
    <author email="zaqueunilton1@gmail.com">Zaqueu</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AndroidWindowSplashScreenBackground" value="#413d65" /> <!-- Cor de fundo -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/res/mipmap-xxxhdpi/icon_adaptive_fore.png" /> 
    <preference name="AndroidWindowSplashScreenIcon" value="resources/android/res/1024.png" /> <!-- Imagem de splash -->


    <platform name="android">
        <icon src="resources/android/res/mipmap-mdpi/icon.png" density="mdpi" target="background" />
        
        <icon src="resources/android/res/mipmap-hdpi/icon.png" density="hdpi" target="background" />
        
        <icon src="resources/android/res/mipmap-xhdpi/icon.png" density="xhdpi" target="background" />
  
        <icon src="resources/android/res/mipmap-xxhdpi/icon.png" density="xxhdpi" target="background" />
    
        <icon src="resources/android/res/mipmap-xxxhdpi/icon.png" density="xxxhdpi" target="background" />
        

    </platform>


</widget>
