@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;

    -webkit-user-select: none;
    user-select: none;
}

body{
    background-color: #413d65;
    width: 100%;
    height: 100vh;
}

.interface{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}
.header{
    grid-area: header;
    display: flex;
    justify-content: center;
}
.title{
    font-size: 2em;
    font-family: 'Space Grotesk', sans-serif;
}
.logo{
    width: 300px;
}

.main{
   
}
.options{
    display: flex;
    justify-content: space-around;
}
.item{
    background-color: #2b1f31;
    border-radius: 4px;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 45%;
    height: 70px;
    margin: 10px;

    font-size: 20px;
}
.bimestral{
    grid-area: bimestral;
}
.anual{
    grid-area: anual;
}
.selected{
    border-bottom: #bef992 solid 3px;
}

.notas{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
   

    font-size: 2em;
}
.notas__item{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    width: 50%;
}
